@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");


:root {
  --border-radius: 20px;
}

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: sans-serif;
  font-size: 32px;
  color: black;
  font-style: normal;
}

h2 {
  font-family: sans-serif;
  font-size: 24px;
  color: black;
  font-style: normal;
}

h3 {
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  font-style: normal;
}

p {
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  font-style: normal;
}

html {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  color: black;
}



.container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr); 
  width: 100%;
}

.brandcolors {
  display: flex;
  background-color: rgb(239, 214, 92);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.primary > h5,
.secondary > h5 {
  padding: 10px;
}

.brandcolors > div {
  margin-top: 100px;
  padding-right: 50px;
}

.logos {
  display: flex;
  background-color: rgb(239, 214, 92);
  border-radius: var(--border-radius);
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  justify-content: center;
}

.buttonstyles {
  background-color: rgb(239, 214, 92);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.icons {
  background-color: rgb(239, 214, 92);
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.icontitle {
  padding-left: 100px;
}

.iconeintere {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-top: 120px;
  gap: 10px;
  padding-right: 160px;
}

.testalego {
  width: 100px;
  height: 100px;
}

.legoscaletta {
  width: 100px;
  height: 100px;
}

.iconacerca {
  width: 100px;
  height: 100px;
}

.likelego {
  width: 100px;
  height: 100px;
}

.carrellologo {
  width: 100px;
  height: 100px;
}

.typography {
  background-color: rgb(239, 214, 92);
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.underline {
  text-decoration: underline;
}

.titletypography {
  display: flex;
  padding-left: 70px;
}

.Color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.primary > div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.secondary {
  display: flex;
  flex-direction: row;
}

.secondary > div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.Lego-Logo {
  width: 150px;
  display: flex;
  justify-items: center;
  align-self: center;
  padding-right: 50px;
}

.buttonstyles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.bottonieccezioni {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.standardbutton1 {
  background-color: #f6f6f6;
  border-radius: 5px;
  height: 59px;
  width: fit-content;
  padding: 1rem 2rem;
  max-width: 250px;
}

.standardbutton1:hover {
  background-color: black;
  border-color: #f6f6f6;
  color: #f6f6f6;
}

.standardbutton2 {
  background-color: #e96f14;
  border-radius: 5px;
  height: 59px;
  width: fit-content;
  padding: 1rem 2rem;
  max-width: 250px;
}

.standardbutton2:hover {
  background-color: white;
  border-color: #e96f14;
  color: black;
}

.standardbutton3 {
  background-color: #ffd400;
  border-radius: 5px;
  height: 59px;
  width: fit-content;
  padding: 1rem 2rem;
  max-width: 250px;
}

.standardbutton3:hover {
  background-color: black;
  border-color: #ffd400;
  color: white;
}

.areagiochi {
  background-color: #abd9ff;
  border-radius: 5px;
  height: 59px;
  width: fit-content;
  padding: 1rem 2rem;
  max-width: 250px;
}

.areagiochi:hover {
  background-color: white;
  color: black;
}

.greybutton {
  background-color: #757575;
  border-radius: 50px;
  width: fit-content;
  padding: 1rem 0.5rem;
  max-width: 250px;
  color: white;
  font-weight: bolder;
}

.greybutton:hover {
  background-color: #000000ab;
  text-decoration: underline;
}

.formfields {
  background-color: rgb(239, 214, 92);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.formtitle {
  display: flex;
  justify-content: center;
}

.inputplaceholder {
  display: flex;
  padding-top: 60px;
}

.form {
  padding-right: 18px;
}

.inputplaceholder ::placeholder {
  padding-right: 18px;
}

.inputplaceholder > button {
  background-color: rgb(233, 111, 20);
}


/* @media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .brandcolors {
    display: flex;
    flex-wrap: wrap;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
  }
  .Lego-Logo {
    width: 80px;
  }
}

@media screen and (max-width: 375px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
  .brandcolors {
    display: flex;
    flex-wrap: wrap;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
  }

  .Lego-Logo {
    width: 80px;
  }
} */

